cachetools==4.1.1
decorator==4.4.2
Flask==1.1.1
geocoder==1.38.1
geographiclib==1.50
geopy==2.1.0
google-auth==1.21.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googlemaps==4.4.2
gunicorn==20.0.4
Jinja2==2.11.2
Keras==2.4.3
Keras-Preprocessing==1.1.2
matplotlib==3.3.1
numpy==1.18.5
pandas==1.1.1
pandas-datareader==0.9.0
plotly==4.14.1
plotly-express==0.4.1
pydot==1.4.1
pylint==2.6.0
psutil==5.8.0
python-dotenv==0.15.0
requests==2.25.1
requests-oauthlib==1.3.0
scikit-learn==0.23.2
scipy==1.4.1
sklearn==0.0
statsmodels==0.12.1